@import url(reset.css);

/*  ~~~~~~~~~~~~~~~---------------   General Section    ---------------~~~~~~~~~~~~~~~  */
body {
    font-size: 12pt;
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgba(100, 150, 200, 0.2);

}

span.bold {
    font-weight: bold;
    font-style: italic;

}

a{
	color: black;
}
a:hover{
	color: rgb(127, 191, 255);
}

p {
	padding: .2em;
	margin: .2em;
}
h1, h2, h3{
	padding: .2em;
	margin: .2em;
}

/*  ~~~~~~~~~~~~~~~---------------    Header Section    ---------------~~~~~~~~~~~~~~~  */
header h1 {
    font-size: 2.6em;
    padding: .1em;
    margin: .1em;
    text-shadow: 2px 2px 4px gray;


}

header h2 {
    font-size: 1.75em;
    padding: .2em;
    margin: .2em;
}
header a{
    text-decoration: none;
    color: black;

}
header a:hover{
    color: black;
}

/*  ~~~~~~~~~~~~~~~---------------  Navigation Section  ---------------~~~~~~~~~~~~~~~  */
nav ul {
    width: 100%;
    background-color: rgb(102, 115, 127);
    padding: .1em;
    min-width: 840px;
    font-size: .9em;

}

nav ul li {
    width: 10%;
    min-width: 88px;
    list-style-type: none;
    display: inline-block;
    padding: .5em .3em;
    margin: .5em;
    background-color: black;
    text-align: center;
    color: rgb(19, 204, 29);
    vertical-align: middle;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    font-size: 1.05em;
}

nav a {
    color: white;
    text-decoration: none;
    -webkit-transition: color .6s;
    -moz-transition: color .6s;
    -ms-transition: color .6s;
    -o-transition: color .6s;
    transition: color .6s;
}

nav a:hover {
    color: rgb(19, 204, 29);
}

/*  ~~~~~~~~~~~~~~~---------------    Aside Section     ---------------~~~~~~~~~~~~~~~  */
aside {
	padding: .3em;
	font-size: .9em;
	background-color: lightgray;
	width: 220px;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 5px;
}
aside h2{
	margin: .1em;
}
aside a{
	display: inline-block;
	padding: .2em 1em;
}
aside p {
	padding: 0em;
	margin: 0em;
}


/*  ~~~~~~~~~~~~~~~---------------     Main Section     ---------------~~~~~~~~~~~~~~~  */
#main {
    margin: 1em 6%;
    background-color: rgb(250, 255, 250);
    box-shadow: 0px 0px 12px #000000;
    border-radius: 5px;
    padding: 1em 2em;
    max-width: 1080px;
    min-width: 600px;
}
#main h1{
	font-size: 1.8em;
        font-weight: bold;
}
#main table {
    max-width: 900px;
    margin: 1em 6%;
}

#main td, #main th {
	font-size: .9em;
    border: 1px solid gray;
    padding: .5em;
    vertical-align: middle;
    text-align: center;
}
#main th{
	font-weight: bold;
}
#main td:nth-child(2) {
    text-align: left;
}

#main div {
    font-size: .9em;
    width: 40%;
    float: left;
    margin: 0em 1em 1em 1em;
    padding: .6em;
}

#main div h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding: .2em;
}

#main div ul li {
    padding: .3em 0;
}

#main p {
    clear: both;
    margin-left: 1.2em;

}
/*  ~~~~~~~~~~~~~~~---------------    Footer Section    ---------------~~~~~~~~~~~~~~~  */

footer{
    font-size: 11pt;
    background-color:rgb(102, 115, 127);
    padding: 18px 0 18px 2%;	
    color: white;
}
footer a{
    color:white;
}