body {
     background-color:lightgray;
     background-attachment:fixed;
     background-position:center;
}

.wrapper {
     width:80%;
     margin-left:auto;
     margin-right:auto;
     box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
     border-radius: 5px;
     background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
     padding: 5px 15px 5px 15px;
}

.title {
     margin-left:8.7%;
     font-family: "Century";
     color: rgba(0, 0, 0, 0.7);
     text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
     font-size:larger;
}

h2 {
     font-family: "Century";
     color: rgba(0, 0, 0, 0.9);
     text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
     font-size:x-large;
}

p {
  display:inline-block;
}

.script {
     font-family:'Segoe Script';
     border-top:2px solid rgba(51, 85, 0, 0.8);
     border-bottom:2px solid rgba(51, 85, 0, 0.8);
     font-size:xx-large;
     position:absolute;
     margin-top: 6%;
     margin-right: 20%;
}

.script a {
     text-decoration:none; 
     color: rgba(51, 85, 204, 0.9);
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.logo {
    margin-left: 15%;
    margin-right: 12%;
}

.video-wrapper {
    margin-left:7%;
    margin-bottom:3%;
}

.video {
    /*display:block;
    margin-bottom:3%;
    margin-left:auto;
    margin-right:auto;*/
    margin-right:3%;
    margin-top: 3%;
}

li {
   padding:10px 0px 10px 0px;
   font-size:larger;
   font-family: "Century";
}

#siteID {
   text-decoration:none;
   color:black;
}
nav {
  max-width: 960px;
  /*mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);*/
  margin: 0 auto;
  padding: 0px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
}

nav ul li {
  display: inline-block;
  padding: 5px 10px;
  margin: 1% 5%;
}
 
nav ul a li {
  font-family: "Century";
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size:larger;
}
 
nav ul a li:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

.activePage {
  font-family: "Century";
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  text-decoration: underline;
  font-size:larger;
}